# 不需要部署的文件
证书/
zhangshanru_homepage_final_v2.html
*.md
github账号.txt
(31 封私信 _ 80 条消息) 使用github.io制作你的个人学术主页 - 知乎.html
(31 封私信 _ 80 条消息) 使用github.io制作你的个人学术主页 - 知乎_files/
【2025最新保姆级教程】手把手教你用github制作个人主页（申学找工作必备）_github个人主页模板-CSDN博客.html
【2025最新保姆级教程】手把手教你用github制作个人主页（申学找工作必备）_github个人主页模板-CSDN博客_files/
.claude/
